.header__wrapper
    height: 70px
    padding-top: 15px
    padding-bottom: 15px 
    display: flex
    justify-content: space-between
    align-items: center

.header-nav
    display: flex
    justify-content: space-between
    align-items: center

.header-nav__list
    display: flex
    justify-content: space-between
    align-items: center

.dropdown-menu
    display: none

.dropdown-menu.show
    display: block