* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.centrator {
  width: 1440px;
  padding: 0 140px;
  margin: 0 auto;
}

h1, h2, h3, p {
  font-family: 'Montserrat';
}

h1, h2, h3 {
  color: #1f2041;
  font-weight: 700;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
}

p, input {
  font-weight: 400;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

button {
  border-radius: 50px;
  padding: 15px 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.button_purple {
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: #fff;
}

.button_white {
  border: none;
  background: #fff;
  color: #bc9cff;
  position: relative;
}

.button_white:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

input::-webkit-input-placeholder,
input::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

a {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}

.header__wrapper {
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list,
.header-nav__dropdown {
  list-style-type: none;
}

.header-nav__list a,
.header-nav__dropdown a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list .nav-item:nth-child(n+2) {
  margin-left: 20px;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper_up {
  -webkit-box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
          box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  padding-top: 100px;
  padding-bottom: 140px;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 40px;
}

.footer__wrapper_down {
  padding-top: 23px;
  padding-bottom: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 260px;
}

.footer__col *:nth-child(n+2) {
  margin-top: 20px;
}

.soc__link {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  text-decoration: none;
}

.soc__link:nth-child(n+2) {
  margin-left: 20px;
}

.subscript {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.subscript__input {
  width: calc( 100% - 44px);
  height: 44px;
  padding: 12px 15px;
  border: none;
}

.subscript__input::-moz-placeholder, .subscript__input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.subscript__button {
  width: 44px;
  height: 44px;
  margin-top: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: 16px;
  color: #bc9cff;
}

.subscript *:nth-child(n) {
  margin-top: 0;
}
/*# sourceMappingURL=main.css.map */